<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>contact page</title>
</head>
<body>
	<section>
	<div class="contact-info">
        <div class="contact-details">
            <h2>Contact Information</h2>
            <address>
                <p><strong>Address:</strong> Jaipur Rajasthan India</p>
                <p><strong>Phone:</strong> +91-&nbsp;7340020440</p>
                <p><strong>Email:</strong>ashutoshdhakad375@gmail.com </p>
            </address>
        </div>
        <div class="company-image">
            <img th:src="@{images/contact.jpg}" alt="Company Image">
        </div>
    </div>
	
	</section>

</body>
</html>